
@import '../../style/mediaQuery.scss';

.main-window {
  transition: .4s;
  @media #{$phone} {
    padding: 0 4px;
  }
}
.v-application p {
  margin: 0;
}

//pc버전입니다.
.pc {
  @media (min-width: 1025px) {
    display: block;
  }
}
.tablet {
  @media (min-width: 1025px) {
    display: none;
  }
}
.mobile{
  @media (min-width: 1025px) {
    display: none;
  }
}
.section01 {
  @media (min-width: 1025px){
    height: 500px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/bg_section01_patten.gif) repeat;
  }
}
.section01 .section01_area {
  @media (min-width: 1025px){
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 500px;
    text-align: center;
  }
}
.section01 .section01_area .txt01 {
  @media (min-width: 1025px){
    position: relative;
    top: 50px;
    line-height: 60px;
    font-size: 55px;
  }
}
.section01 .section01_area .txt02 {
  @media (min-width: 1025px){
    position: relative;
    top: 100px;
    line-height: 40px;
    color: #5d5d5d;
    font-size: 35px;
  }
}
.section01 .section01_area .btn01 {
  @media (min-width: 1025px){
    position: relative;
    top: 170px;
  }
}
.section01 .section01_area .txt03 {
  @media (min-width: 1025px) {
    font-weight: bold;
    font-size: 20px;
  }
}
.section01 .section01_area .img01 {
  @media (min-width: 1025px){
    position: absolute;
    right: 0;
  }
}
.section02 {
  @media (min-width: 1025px){
    height: 500px;
    border-bottom: 1px solid #e2e2e2;
  }
}
.section02 .section02_area {
  @media (min-width: 1025px){
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 500px;
  }
}
.section02 .section02_area .txt01 {
  @media (min-width: 1025px){
    position: absolute;
    top: 110px;
    line-height: 55px;
    letter-spacing: -2px;
    font-size: 45px;
  }
}
.section02 .section02_area .txt02 {
  @media (min-width: 1025px){
    position: absolute;
    top: 250px;
    line-height: 35px;
    letter-spacing: -1px;
    color: #5d5d5d;
    font-size: 20px;
  }
}
.section02 .section02_area .img01 {
  @media (min-width: 1025px){
    position: absolute;
    top: 150px;
    width: 500px;
    height: auto;
  }
}
.section03 {
  @media (min-width: 1025px){
    height: 500px;
    border-bottom: 1px solid #e2e2e2;
  }
}
.section03 .section03_area {
  @media (min-width: 1025px){
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 500px;
  }
}
.section03 .section03_area .txt01 {
  @media (min-width: 1025px){
    position: absolute;
    top: 110px;
    line-height: 55px;
    letter-spacing: -2px;
    font-size: 45px;
    text-align: right;
  }
}
.section03 .section03_area .txt02 {
  @media (min-width: 1025px){
    position: absolute;
    top: 250px;
    line-height: 35px;
    letter-spacing: -1px;
    color: #5d5d5d;
    font-size: 20px;
    text-align: right;
  }
}
.section03 .section03_area .img01 {
  @media (min-width: 1025px){
    position: absolute;
    top: 40px;
    width: auto;
    height: 450px;
  }
}
//.section04 {
//  @media (min-width: 1025px){
//    height: 500px;
//    border-bottom: 1px solid #e2e2e2;
//  }
//}
//.section04 .section04_area {
//  @media (min-width: 1025px){
//    position: relative;
//    margin: 0 auto;
//    width: 980px;
//    height: 500px;
//  }
//}
//.section04 .section04_area .txt01 {
//  @media (min-width: 1025px){
//    position: absolute;
//    top: 100px;
//    letter-spacing: -2px;
//    font-size: 45px;
//  }
//}
//.section04 .section04_area .txt02 {
//  @media (min-width: 1025px){
//    position: absolute;
//    top: 200px;
//    line-height: 35px;
//    letter-spacing: -1px;
//    color: #5d5d5d;
//    font-size: 20px;
//  }
//}
//.section04 .section04_area .img01 {
//  @media (min-width: 1025px){
//    position: absolute;
//    top: 0;
//  }
//}
#footer_wrap {
  @media (min-width: 1025px) {
    height: 50px;
    border-top: 1px solid #e4dede;
  }
}
.footer_area {
  @media (min-width: 1025px) {
    margin: 0 auto;
    width: 980px;
  }
}
.footer_area .address {
  @media (min-width: 1025px) {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #a3a3a3;
    font-size: 12px;
    font-style: normal;
  }
}
.footer_area .copyright {
  @media (min-width: 1025px) {
    color: #a3a3a3;
    font-size: 12px;
  }
}
.footer_area .copyright span {
  @media (min-width: 1025px) {
    color: #a6151b;
    font-size: 12px;
  }
}

//태블릿 버전입니다.
.pc {
  @media (max-width: 1024px) and (min-width: 415px) {
    display: none;
  }
}
.tablet {
  @media (max-width: 1024px) and (min-width: 415px) {
    display: block;
  }
}
.mobile{
  @media (max-width: 1024px) and (min-width: 415px) {
    display: none;
  }
}
.section01 {
  @media (max-width: 1024px) and (min-width: 415px){
    height: 325px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/bg_section01_patten.gif) repeat;
  }
}
.section01 .section01_area {
  @media (max-width: 1024px) and (min-width: 415px){
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #e2e2e2;
  }
}
.section01 .section01_area .txt01 {
  @media (max-width: 1024px) and (min-width: 415px) {
    margin: 25px 0 25px;
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    letter-spacing: -2px;
  }
}
.section01 .section01_area .txt02 {
  @media (max-width: 1024px) and (min-width: 415px) {
    margin-bottom: 30px;
    color: #5d5d5d;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    letter-spacing: -1px;
  }
}
.section01 .section01_area .btn01 {
  @media (max-width: 1024px) and (min-width: 415px) {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section01 .section01_area .txt03 {
  @media (max-width: 1024px) and (min-width: 415px) {
    font-size: 20px;
  }
}
.section02 {
  @media (max-width: 1024px) and (min-width: 415px) {
    height: 500px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/macbook.png) no-repeat right  bottom;
    background-size: 60%;
  }
}
.section02 .section02_area {
  @media (max-width: 1024px) and (min-width: 415px) {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }
}
.section02 .section02_area .txt01 {
  @media (max-width: 1024px) and (min-width: 415px){
    padding: 100px 0 35px 20px;
    line-height: 45px;
    letter-spacing: -2px;
    font-size: 35px;
  }
}
.section02 .section02_area .txt02 {
  @media (max-width: 1024px) and (min-width: 415px) {
    padding: 0 0 0 20px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #5d5d5d;
    font-size: 16px;
  }
}
.section03 {
  @media (max-width: 1024px) and (min-width: 415px) {
    height: 500px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/phone.png) no-repeat bottom;
    background-position-x: 100px;
    background-size: 35%;
  }
}
.section03 .section03_area {
  @media (max-width: 1024px) and (min-width: 415px) {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }
}
.section03 .section03_area .txt01 {
  @media (max-width: 1024px) and (min-width: 415px) {
    padding: 50px 20px 35px 0;
    letter-spacing: -2px;
    line-height: 45px;
    font-size: 35px;
    text-align: right;
  }
}
.section03 .section03_area .txt02 {
  @media (max-width: 1024px) and (min-width: 415px) {
    padding: 0 20px 0 0;
    line-height: 30px;
    letter-spacing: -1px;
    color: #5d5d5d;
    font-size: 16px;
    text-align: right;
  }
}
//.section04 {
//  @media (max-width: 1024px) and (min-width: 415px) {
//    height: 650px;
//    border-bottom: 1px solid #e2e2e2;
//    background: url(/img/main/photo_4.png) no-repeat center bottom;
//    background-size: 60%;
//  }
//}
//.section04 .section04_area {
//  @media (max-width: 1024px) and (min-width: 415px) {
//    position: relative;
//    margin: 0 auto;
//    width: 100%;
//    height: 650px;
//  }
//}
//.section04 .section04_area .txt01 {
//  @media (max-width: 1024px) and (min-width: 415px) {
//    padding: 35px 0 35px 20px;
//    letter-spacing: -2px;
//    font-size: 35px;
//  }
//}
//.section04 .section04_area .txt02 {
//  @media (max-width: 1024px) and (min-width: 415px) {
//    padding: 0 0 0 20px;
//    line-height: 30px;
//    letter-spacing: -1px;
//    color: #5d5d5d;
//    font-size: 16px;
//  }
//}
#footer_wrap {
  @media (max-width: 1024px) and (min-width: 415px) {
    height: 100px;
    border-top: 1px solid #e4dede;
  }
}
.footer_area {
  @media (max-width: 1024px) and (min-width: 415px) {
    margin: 0 auto;
    padding: 0 4%;
    width: 92%;
  }
}
.footer_area .address {
  @media (max-width: 1024px) and (min-width: 415px) {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 18px;
    color: #a3a3a3;
    font-size: 12px;
    font-style: normal;
  }
}
.footer_area .copyright {
  @media (max-width: 1024px) and (min-width: 415px) {
    color: #a3a3a3;
    font-size: 12px;
  }
}
.footer_area .copyright span {
  @media (max-width: 1024px) and (min-width: 415px) {
    color: #a6151b;
    font-size: 12px;
  }
}
//태블릿 버전입니다.
.pc {
  @media (max-width: 414px) and (min-width: 320px) {
    display: none;
  }
}
.tablet {
  @media (max-width: 414px) and (min-width: 320px) {
    display: block;
  }
}
.mobile{
  @media (max-width: 414px) and (min-width: 320px) {
    display: none;
  }
}
.section01 {
  @media (max-width: 414px) and (min-width: 320px) {
    height: 300px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/bg_section01_patten.gif) repeat;
  }
}
.section01 .section01_area {
  @media (max-width: 414px) and (min-width: 320px) {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 275px;
    border-bottom: 1px solid #e2e2e2;
  }
}
.section01 .section01_area .txt01 {
  @media (max-width: 414px) and (min-width: 320px) {
    margin: 25px 0 25px;
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    letter-spacing: -2px;
  }
}
.section01 .section01_area .txt02 {
  @media (max-width: 414px) and (min-width: 320px) {
    margin-bottom: 30px;
    color: #5d5d5d;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    letter-spacing: -1px;
  }
}
.section01 .section01_area .btn01 {
  @media (max-width: 414px) and (min-width: 320px) {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section01 .section01_area .txt03 {
  @media (max-width: 414px) and (min-width: 320px) {
    font-size: 18px;
  }
}
.section02 {
  @media (max-width: 414px) and (min-width: 320px) {
    height: 325px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/macbook.png) no-repeat right  bottom;
    background-size: 55%;
  }
}
.section02 .section02_area {
  @media (max-width: 414px) and (min-width: 320px) {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 325px;
  }
}
.section02 .section02_area .txt01 {
  @media (max-width: 414px) and (min-width: 320px) {
    padding: 35px 0 15px 10px;
    line-height: 35px;
    letter-spacing: -2px;
    font-size: 28px;
  }
}
.section02 .section02_area .txt02 {
  @media (max-width: 414px) and (min-width: 320px) {
    padding: 0 0 0 10px;
    line-height: 22px;
    letter-spacing: -1px;
    color: #5d5d5d;
    font-size: 14px;
  }
}
.section03 {
  @media (max-width: 414px) and (min-width: 320px) {
    height: 325px;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/main/phone.png) no-repeat bottom;
    background-position-x: 40px;
    background-size: 30%;
  }
}
.section03 .section03_area {
  @media (max-width: 414px) and (min-width: 320px) {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 325px;
  }
}
.section03 .section03_area .txt01 {
  @media (max-width: 414px) and (min-width: 320px) {
    padding: 35px 10px 15px 0;
    letter-spacing: -2px;
    line-height: 35px;
    font-size: 28px;
    text-align: right;
  }
}
.section03 .section03_area .txt02 {
  @media (max-width: 414px) and (min-width: 320px) {
    padding: 0 10px 0 0;
    line-height: 22px;
    letter-spacing: -1px;
    color: #5d5d5d;
    font-size: 14px;
    text-align: right;
  }
}
//.section04 {
//  @media (max-width: 414px) and (min-width: 320px) {
//    height: 650px;
//    border-bottom: 1px solid #e2e2e2;
//    background: url(/img/main/photo_4.png) no-repeat center bottom;
//    background-size: 60%;
//  }
//}
//.section04 .section04_area {
//  @media (max-width: 414px) and (min-width: 320px) {
//    position: relative;
//    margin: 0 auto;
//    width: 100%;
//    height: 650px;
//  }
//}
//.section04 .section04_area .txt01 {
//  @media (max-width: 414px) and (min-width: 320px) {
//    padding: 35px 0 35px 20px;
//    letter-spacing: -2px;
//    font-size: 35px;
//  }
//}
//.section04 .section04_area .txt02 {
//  @media (max-width: 414px) and (min-width: 320px) {
//    padding: 0 0 0 20px;
//    line-height: 30px;
//    letter-spacing: -1px;
//    color: #5d5d5d;
//    font-size: 16px;
//  }
//}
#footer_wrap {
  @media (max-width: 414px) and (min-width: 320px) {
    height: 80px;
    border-top: 1px solid #e4dede;
  }
}
.footer_area {
  @media (max-width: 414px) and (min-width: 320px) {
    margin: 0 auto;
    padding: 0 4%;
    width: 92%;
  }
}
.footer_area .address {
  @media (max-width: 414px) and (min-width: 320px) {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 18px;
    color: #a3a3a3;
    font-size: 10px;
    font-style: normal;
  }
}
.footer_area .copyright {
  @media (max-width: 414px) and (min-width: 320px) {
    color: #a3a3a3;
    font-size: 10px;
  }
}
.footer_area .copyright span {
  @media (max-width: 414px) and (min-width: 320px) {
    color: #a6151b;
    font-size: 12px;
  }
}
